<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Treble&Bass</h1>
            <hr>
            <p>A social media application connecting musicians of all levels and skillsets. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<% if user_signed_in? %>
	<%= link_to "View My Profile", profile_path(current_user.profile) %>
<% end %>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">If you are looking for someone to perform professionally with you, or if you are simply looking to make some friends and organizing a few jam sessions, this is the app for you! </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Founders:</h2>
                <hr class="primary">
                <li>Sarah Besnainou</li>
                <li>Annelie Herrmann</li>
            </div>
        </div>
    </div>
</section>