body {
	padding-top: 80px;
	background: url(../img/brown.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.search_bar {
	padding-top: 10px;
}

#searchbox {
	width: 215px;
  margin-top: 10px;
}

img {
  width: 20px;
}

#profile {
      margin: 0 auto;
      display: table;
      border: 1px solid black;
      width: 350px;
    }

.rating {
  text-align: center
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 100%;
}




