body {
	padding-top: 80px;
	background: url(../img/wood.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
}
.search_bar {
	padding-top: 10px;
}

#searchbox {
	width: 215px;
  margin-top: 10px;
}

img {
  width: 20px;
}


#profile {
      margin: 0 auto;
      display: table;
      border: 3px solid black;
      border-radius: 200px;
      width: 400px;
    }




